<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!--<link rel="import" href="/src/shared-styles.html">-->
<link rel="import" href="/src/bbva-techu-gas-station-customers/bbva-techu-gas-station-customers.html">
<link rel="import" href="/src/bbva-techu-sign-up-user/bbva-techu-sign-up-user.html">

<dom-module id="bbva-techu-login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        margin:0;
        padding:0;
        box-sizing:border-box;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      #signup{
        float: right;
        display: block;
      }

      #app{
        height: 250px;
        padding-top: 70px;
        text-align: center;
        background: #004481 url(../img/bg_header.png) no-repeat 0 0;
      }

      header {
        text-align: center;
        font-size: 36px;
        color: #fff;
        margin: -10px -10px -1px -10px;
        font-family: BentonSansBBVAMedium, Arial,"Helvetica Neue",Helvetica,sans-serif;
      }

      #app section {
        box-sizing: border-box;
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: -65px;
      }
      .cards {
        float: none;
        margin-top: 0px;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 0px;
        padding: 16px;
        padding-bottom: 40px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .unauthenticated{
        text-align: center;
      }
      :root {
        --paper-input-container-underline: {
          display: none;
        };
        --paper-input-container-underline-focus: {
          display: none;
        };
        --paper-input-container-underline-disabled: {
          display: none;
        };
      }
      .input--bbva {
        overflow: hidden;
        background-color: #f4f4f4;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 10px;
      }
      .input {
        position: relative;
        z-index: 1;
        display: inline-block;
        max-width: 300px;
        width: 100%;
        vertical-align: top;
      }
      .input__field--bbva {
        width: 100%;
        border-radius: 1px;
        background-color: #f4f4f4;
        height: 30px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: left;
        color: #121212;
        padding: 0;
        margin-top: 0px;
      }
      .input__field {
        position: relative;
        display: block;

        width: 100%;
        border: none;
        border-radius: 0;
        color: #121212;
        font-family: BentonSansBBVABook, "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-appearance: none;
      }
      .input__field:focus{
        outline:none;
      }
      #new-user-row {
        float: left;
        display:block;
        padding:10px
      }
      .bar-id{
        position:fixed;
        right:1em;
        float: right!important;
        color: #fff;
        padding-top:20px;
        font-family: BentonSansBBVABook, "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .wrapper {
        display: block;
      }

      #sidebar {
        width: 120px;
        position: fixed;
        padding:10px;
        top: 70px;
        left: 0;
        height: 8vh;
        z-index: 999;
        background: #004481;
        color: #fff;
        transition: all 0.3s;
      }

    </style>

    <header id="app" hidden$={{authenticated}}>
      <h1><span>BBVA</span>
        <h2>Welcome to your Practitioner App</h2>
      </h1>
    </header>

    <section id="login" class="single" >

      <div class="cards" hidden$={{unauthenticated}}>

        <div class="unauthenticated" >

          <paper-input-container class="input input--bbva">
            <iron-input slot="input" bind-value="{{email}}" >
              <input class="input__field input__field--bbva" id="email" type="email" value="{{email::input}}" placeholder="Email" required>
            </iron-input>
          </paper-input-container>

          <paper-input-container class="input input--bbva">
            <iron-input slot="input" bind-value="{{password}}">
              <input class="input__field input__field--bbva" id="password" type="password" value="{{password::input}}" placeholder="Password" required>
            </iron-input>
          </paper-input-container>

          <div class="wrapper-btns">
            <paper-button raised class="primary" on-click="_login">Log In</paper-button>
          </div>

          <section>
            <template is="dom-if" if="{{error}}">
              <p class="alert alert-error"><strong>Error:</strong> {{error}}</p>
            </template>
          </section>

          <div class="new-user">
            <div>
              <p id="new-user-row" >New user?</p>
            </div>
            <div>
              <paper-button id="signup" on-click="_signup">Sign up</paper-button>
            </div>
          </div>

        </div>

      </div>

      <div class="signup" hidden$={{!singnup}}>
        <bbva-techu-sign-up-user></bbva-techu-sign-up-user>
      </div>

    </section>

    <section>

      <div class="authenticated" hidden$={{!authenticated}}>
        <!--<span>Welcome to the app</span>-->
        <span class="bar-id">Hello, {{storedUser.name}}</span>
        <!--<p>You are currently logged in.</p>-->
        <bbva-techu-gas-station-customers></bbva-techu-gas-station-customers>
      </div>
      <!-- Only admins will see this.
      <template is="dom-if" if="[[_isEqualTo(storedUser.profile, 'admin')]]">
        <nav id="sidebar">
          <div>
            <paper-button id="" on-click="_adminUsers">Admin</paper-button>
          </div>
        </nav>
      </template>-->
    </section>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <iron-ajax
    id="doLogin"
    url="http://localhost:3000/v1/Sessions"
    content-type="application/json"
    crossDomain: true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="_manageAJAXResponse"
    on-error="_handleAJAXError" >


  </template>
  <script>
    /**
    * @customElement
    * @polymer
    */
    class BbvaTechuLoginApp extends Polymer.Element {
      static get is() { return 'bbva-techu-login-app'; }
      static get properties() {

        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          storedUser: Object,
          error: String,
          formData: {
            type: Object,
            value: {}
          },
          unauthenticated:{
            type: Boolean,
            value: false
          },
          authenticated:{
            type: Boolean,
            value: false
          },
          singnup:{
            type: Boolean,
            value: false
          },
          validateSession : {
            type  : Boolean,
            value : function(){

              let validateToken = JSON.parse(window.localStorage.getItem('user-storage'));
              if(validateToken){
                this.authenticated = true;
                this.singnup = false;
                this.unauthenticated = true;
              }

            }
          }
        };
      }

      /*_isEqualTo(title, string) {
        console.log(title, string);
        return title == string;
      }*/

      _login(){

        let loginData = {
          "email"    : this.email,
          "password" : this.password
        };
        //console.log(this.email+ " "+this.password);

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Request send by iron-ajax");
      }

      _manageAJAXResponse(event){

        console.log("Response from server");

        //var response = JSON.stringify(event.detail.response);
        let response = event.detail.response;
        console.log(response);

        if (response.session.idToken && response.session.isUserSession) {

          this.error = '';
          this.unauthenticated = response.session.isUserSession;
          this.authenticated = true;
          this.storedUser = response;

        }
        //console.log(this.storedUser.loggedin)
        // reset form data
        this.singnup = false;
        this.formData = {};

      }

      _handleAJAXError(event) {
        this.error = event.detail.request.xhr.response.error;
        console.log(event.detail.request.xhr.response.error);
      }

      _signup(){
        this.singnup = true;
        this.unauthenticated = true;
        this.authenticated = false;
      }

    }

    window.customElements.define(BbvaTechuLoginApp.is, BbvaTechuLoginApp);
  </script>
</dom-module>
