<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">


<dom-module id="bbva-techu-gas-station-customers">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href=http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,300>

    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <style>
      :host {
        display: block;
        padding: 0px;
      }
      google-map {
        display: block;
        height: 500px;
      }
      paper-dropdown-menu {
        width:100%;
      }

      #app{
        height: 150px;
        padding-top: 50px;
        text-align: center;
        background: #004481 url(../img/bg_header.png) no-repeat 0 0;
      }

      header {
        text-align: center;
        font-size: 36px;
        color: #fff;
        margin: -10px -10px -1px -10px;
        font-family: BentonSansBBVAMedium, Arial,"Helvetica Neue",Helvetica,sans-serif;
      }
      section{
        text-align: center;
        padding:20px;
        margin: -10px -10px -1px -10px;
        font-family: BentonSansBBVAMedium, Arial,"Helvetica Neue",Helvetica,sans-serif;

      }
      .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        margin-top: 55px;
      }

    </style>
    <!--One way - data binding -two braquets-->


    <header id="app" hidden$={{authenticated}}>
      <h2>Check the location of BBVA gas station customers.</h2>
    </header>

    <section>
      <div class="container" >
        <!--<br> The selected is : <span>{{selectedGSCustomer.calle}}</span>-->
        <div class="row">
          <div class="col">
            <google-map api-key="AIzaSyD0NVGarPAPJX6E6-7ui5MJAMpfodjxPeg"
            map-type="hybrid"
            latitude="{{latitude}}"
            longitude="{{longitude}}"
            zoom="25" hidden$={{!renderMap}} >
            <google-map-marker title="static marker"
            latitude="{{latitude}}"
            longitude="{{longitude}}">
          </google-map-marker>
        </google-map>
      </div>
      <div class="col col-lg-4">
        <div class="col">
          <paper-dropdown-menu label="Please choose"  on-iron-select="_onGSCustomerSelected">
            <paper-listbox slot="dropdown-content" selected="{{selectedGSCustomerIndex}}">
              <template is="dom-repeat" items="[[gasStationCustomers]]" as="gscustomer">
                <paper-item>[[gscustomer.calle]]</paper-item>
              </template>
            </paper-listbox>
          </paper-dropdown-menu>
        </div>
        <div class="col col-lg-2">
          <button on-click="_clean" class="btn btn-info">Clear</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Bussines Name</th>
              <th scope="col">Regular</th>
              <th scope="col">Premium</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{selectedGSCustomer.razonsocial}}</td>
              <td>$ {{selectedGSCustomer.regular}}</td>
              <td>$ {{selectedGSCustomer.premium}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>


</template>

<script>
  /**
  * @customElement
  * @polymer
  */
  //The class name is the same that the polymer component but with camell case
  class BbvaTechuGasStationCustomers extends Polymer.Element {
    static get is() { return 'bbva-techu-gas-station-customers'; }
    static get properties() {
      return {
        
        renderMap : {
          type: Boolean,
          value: false
        },
        error : String,
        gasStationCustomers : {
          type: Array,
          notify: true,
          value : function(){
            let scope = this;

            fetch('https://api.datos.gob.mx/v1/precio.gasolina.publico')

            .then(function(response) {
              return response.json();
            })

            .then(function(data) {
              //console.table(data.results);
              scope.gasStationCustomers = data.results;
              scope.renderMap = true;
            });
          }
        },
        selectedGSCustomerIndex: {
          type:Number,
          value: 0
        },
        // Object holding your selected
        selectedGSCustomer:{
          type:Object,
          value:null
        },
        latitude : Number,
        longitude : Number
      };
    }

    _onGSCustomerSelected(e) {

      this.set('selectedGSCustomer',this.gasStationCustomers[this.selectedGSCustomerIndex]);
      this.latitude = parseFloat(this.gasStationCustomers[this.selectedGSCustomerIndex].latitude);
      this.longitude = parseFloat(this.gasStationCustomers[this.selectedGSCustomerIndex].longitude);
      this.renderMap = true;
      console.log("Latitude : ", this.latitude);
      console.log("Longitude : ", this.longitude);

    }

    _clean(){

      this.selectedGSCustomer = {};
      this.renderMap = false;
    }

  }

  window.customElements.define(BbvaTechuGasStationCustomers.is, BbvaTechuGasStationCustomers);
</script>
</dom-module>
