<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="bbva-techu-sign-up-user">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      .cards {
        float: none;
        margin-top: 0px;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 0px;
        padding: 16px;
        padding-bottom: 40px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      header {
        text-align: center;
        font-size: 36px;
        color: #004481;
        margin: -10px -10px -1px -10px;
        padding: 15px;
        font-family: BentonSansBBVAMedium, Arial,"Helvetica Neue",Helvetica,sans-serif;
      }
      .input--bbva {
        overflow: hidden;
        background-color: #f4f4f4;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 10px;
      }
      .input {
        position: relative;
        z-index: 1;
        display: inline-block;
        max-width: 300px;
        width: 100%;
        vertical-align: top;
      }
      .input__field--bbva {
        width: 100%;
        border-radius: 1px;
        background-color: #f4f4f4;
        height: 30px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: left;
        color: #121212;
        padding: 0;
        margin-top: 0px;
      }
      .input__field {
        position: relative;
        display: block;

        width: 100%;
        border: none;
        border-radius: 0;
        color: #121212;
        font-family: BentonSansBBVABook, "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-appearance: none;
      }
      .input__field:focus{
        outline:none;
      }
      button.darKblue {
        height: 60px;
        border-radius: 1px;
        background-color: #004481;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        outline-style: none;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        cursor: pointer;
        min-width: 170px;
        border: 1px solid #004481;
      }
    </style>
    <header>
      <h1><span>Sign up user</span>
      </h1>
    </header>
    <div class="container"  hidden$={{singnUp}}>
      <div class="cards">
        <form is="iron-form" id="redirectDemo">
          <paper-input class="input input--bbva" id="name" label="Name" value="{{name::input}}" required ></paper-input>
          <paper-input class="input input--bbva" id="lastname" label="Lastname" value="{{lastname::input}}" required></paper-input>
          <paper-input class="input input--bbva" id="email" label="Email" type="email" value="{{email::input}}" required></paper-input>
          <paper-input class="input input--bbva" id="profile" label="Profile" value="{{profile::input}}" required></paper-input>
          <paper-input class="input input--bbva" id="password" label="Password" type="password" value="{{password::input}}" required></paper-input>
          <paper-input class="input input--bbva" id="passwordConfirm" label="Confirm Password" type="password" value="{{passwordConfirm::input}}" required></paper-input>
          <paper-button class="btn btn-primary darKblue enter" raised on-click="_submit">Submit</paper-button>
        </form>
        <template is="dom-if" if="{{error}}">
          <p class="alert-error"><strong>Error:</strong> {{error}}</p>
        </template>
      </div>
    </div>
    <div class="alert alert-success"  hidden$={{!singnUp}}>
      <strong>Success!</strong> You are signed up now!!.
    </div>

    <iron-ajax
    id="doSingup"
    url="http://localhost:3000/v1/add/Users"
    content-type="application/json"
    crossDomain: true
    dataType:'jsonp'
    method="POST"
    handle-as="json"
    headers="Access-Control-Allow-Headers: *"
    on-response="_manageAJAXResponse"
    on-error="_handleAJAXError" >


  </template>

  <script>
    /**
    * @customElement
    * @polymer
    */
    class BbvaTechuSignUpUser extends Polymer.Element {
      static get is() { return 'bbva-techu-sign-up-user'; }
      static get properties() {

        return {
          behaviors: [
          Polymer.IronFormElementBehavior,
          Polymer.IronValidatableBehavior
          ],
          name: {
            type: String
          },
          lastName: {
            type: String
          },
          email: {
            type: String,
            observer: '_checkEmail'
          },
          profile: {
            type: String
          },
          password: {
            type: String
          },
          passwordConfirm: {
            type: String
          },
          formData: {
            type: Object,
            value: {}
          },
          error : String,
          singnUp:{
            type:Boolean,
            value: false
          }
        };
      }

      _submit() {
        let signUpData = {
          "email" : this.email,
          "name" : this.name,
          "lastname" : this.lastname,
          "profile" : this.profile,
          "status" : 1,
          "password" : this.password,
          "passwordConfirm" : this.passwordConfirm};

          this.$.doSingup.body = JSON.stringify(signUpData);
          this.$.doSingup.generateRequest();

          console.log("Request send by iron-ajax");
        }

        _checkEmail(event){
          let str = event+event;
          if(str.toLowerCase().includes("@bbva.com")){
            //console.log(str);
            this.error = "";
          }else{
            this.error = "Your email must be BBVA domain";
            //console.log("event");
          }
        }

        _manageAJAXResponse(event){

          console.log("Response from server");

          //var response = JSON.stringify(event.detail.response);
          var response = event.detail.response;
          this.singnUp = true;
          this.signUpData = {};
          setTimeout(() => window.location="index.html", 2000);


        }

        _handleAJAXError(event) {
          this.error = event.detail.request.xhr.response.error;
          console.log(event.detail.request.xhr.response.error);
        }


      }
      window.customElements.define(BbvaTechuSignUpUser.is, BbvaTechuSignUpUser);
    </script>
  </dom-module>
