<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      #signup{
        float: right;
        display: block;
      }

      #app{
        height: 300px;
        padding-top: 70px;
        text-align: center;
        background: #004481 url(../img/bg_header.png) no-repeat 0 0;
      }

      header {
        text-align: center;
        font-size: 36px;
        color: #fff;
        margin: -10px -10px -1px -10px;
        font-family: BentonSansBBVAMedium, Arial,"Helvetica Neue",Helvetica,sans-serif;
      }

      #app section {
        box-sizing: border-box;
        width: 960px;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;
        margin-top: -65px;
      }
      .cards {
        float: none;
        margin-top: 0px;
        margin-left: 400px;
        margin-right: 400px;
        margin-bottom: 0px;
        padding: 16px;
        padding-bottom: 40px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .unauthenticated{
        text-align: center;
      }
      :root {
        --paper-input-container-underline: {
          display: none;
        };
        --paper-input-container-underline-focus: {
          display: none;
        };
        --paper-input-container-underline-disabled: {
          display: none;
        };
      }
      .input--bbva {
        overflow: hidden;
        background-color: #f4f4f4;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 10px;
      }
      .input {
        position: relative;
        z-index: 1;
        display: inline-block;
        max-width: 300px;
        width: 100%;
        vertical-align: top;
      }
      .input__field--bbva {
        width: 100%;
        border-radius: 1px;
        background-color: #f4f4f4;
        height: 30px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: left;
        color: #121212;
        padding: 0;
        margin-top: 0px;
      }
      .input__field {
        position: relative;
        display: block;

        width: 100%;
        border: none;
        border-radius: 0;
        color: #121212;
        font-family: BentonSansBBVABook, "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-appearance: none;
      }
      .input__field:focus{
        outline:none;
      }
      #new-user-row {
        float: left;
        display:block;
        padding:10px
      }
    </style>
  </template>
</dom-module>
